In [4]:
# Import Library
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#### 파일 불러오기

In [5]:
target_2016.to_csv('target_2016.csv', index=False, encoding='utf-8-sig')
target_2017.to_csv('target_2017.csv', index=False, encoding='utf-8-sig')
target_2019.to_csv('target_2019.csv', index=False, encoding='utf-8-sig')

NameError: name 'target_2016' is not defined

#### 최종 데이터 셋 생성 : 입력변수 셋과 병합

In [3]:
# 입력변수 셋 불러오기
feature = pd.read_csv('feature.csv', encoding='ansi')
feature.info()

UnicodeDecodeError: 'mbcs' codec can't decode bytes in position 0--1: No mapping for the Unicode character exists in the target code page.

In [638]:
feature_2016 = feature[feature.연도 == 2016]
feature_2017 = feature[feature.연도 == 2017]
feature_2019 = feature[feature.연도 == 2019]

feature_2016

,연도,호선,역명,지하철이용객수,자전거보관가능대수,환승거리(m),환승역개수,엘레베이터,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장
0,2016,1.0,개봉역,5105288.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,2016,1.0,동대문역,12516369.0,43,194.0,5.0,3.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2016,1.0,동묘앞역,7583185.0,31,96.0,1.0,7.0,12.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2016,1.0,서울역,43063098.0,0,262.0,3.0,4.0,5.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
4,2016,1.0,시청역,18944182.0,7,101.0,2.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,2016,8.0,신흥역,3979395.0,55,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
286,2016,8.0,암사역,12146195.0,269,0.0,0.0,3.0,4.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0
287,2016,8.0,잠실역,10127318.0,165,0.0,0.0,3.0,5.0,1.0,3.0,1.0,0.0,0.0,0.0,1.0
288,2016,8.0,장지역,10527794.0,80,0.0,0.0,4.0,6.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0
289,2016,8.0,천호역,14614338.0,0,0.0,0.0,2.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,0.0

In [639]:
feature_2016 = feature_2016.rename({'연도':'기준_년_코드'}, axis='columns')
feature_2017 = feature_2017.rename({'연도':'기준_년_코드'}, axis='columns')
feature_2019 = feature_2019.rename({'연도':'기준_년_코드'}, axis='columns')

feature_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 289
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준_년_코드    290 non-null    int64
 1   호선         290 non-null    float64
 2   역명         290 non-null    object
 3   지하철이용객수    290 non-null    float64
 4   자전거보관가능대수  290 non-null    object
 5   환승거리(m)    290 non-null    float64
 6   환승역개수      290 non-null    float64
 7   엘레베이터      290 non-null    float64
 8   에스컬레이터     290 non-null    float64
 9   휠체어경사로     290 non-null    float64
 10  휠체어리프트     290 non-null    float64
 11  장애인편의시설    290 non-null    float64
 12  만남의장소      290 non-null    float64
 13  현장사무소      290 non-null    float64
 14  민원안내       290 non-null    float64
 15  환승주차장      290 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 38.5+ KB

In [640]:
sub_2016 = pd.merge(target_2016, feature_2016, how='outer', on=['기준_년_코드','역명']) # 목표변수에는 '호선'컬럼 없음 주의!
sub_2016

,기준_년_코드,역명,상권_변화_지표,상권_변화_지표_명,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,...,환승역개수,엘레베이터,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장
0,2016,광화문역,LH,상권확장,96.0,49.0,3305688.25,2.523273e+09,6.820667e+08,321413666.0,...,0.0,2.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0
1,2016,경복궁역,HH,정체,96.0,49.0,3821870.50,3.897429e+09,9.917484e+08,469887895.5,...,0.0,2.0,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2,2016,안국역,LH,상권확장,96.0,49.0,4098538.25,1.765200e+09,4.845781e+08,212462234.5,...,0.0,2.0,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3,2016,서대문역,HH,정체,96.0,49.0,4966916.50,5.285493e+09,1.384475e+09,630766933.5,...,0.0,3.0,8.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
4,2016,종로3가역,HH,정체,96.0,49.0,3305688.25,2.523273e+09,6.820667e+08,321413666.0,...,4.0,3.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,2016,단대오거리역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3.0,4.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
364,2016,모란역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3.0,2.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0
365,2016,산성역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,4.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
366,2016,수진역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
367,2016,신흥역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [641]:
# 컬럼명 변경
sub_2016 = sub_2016.rename({'단독주택':'단독주택_가격','아파트':'아파트_가격',
                           '연립주택':'연립주택_가격','오피스텔':'오피스텔_가격','세대':'거주_세대_수','계':'거주인구_총계',
                           '남자':'거주인구_남자','여자':'거주인구_여자'}, axis='columns')
sub_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 368 entries, 0 to 367
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            368 non-null    int64
 1   역명                 368 non-null    object
 2   상권_변화_지표           332 non-null    object
 3   상권_변화_지표_명         332 non-null    object
 4   서울_운영_영업_개월_평균     332 non-null    float64
 5   서울_폐업_영업_개월_평균     332 non-null    float64
 6   월_평균_소득_금액         314 non-null    float64
 7   지출_총금액             314 non-null    float64
 8   식료품_지출_총금액         314 non-null    float64
 9   의류_신발_지출_총금액       314 non-null    float64
 10  생활용품_지출_총금액        314 non-null    float64
 11  의료비_지출_총금액         314 non-null    float64
 12  교통_지출_총금액          314 non-null    float64
 13  여가_지출_총금액          314 non-null    float64
 14  문화_지출_총금액          314 non-null    float64
 15  교육_지출_총금액          314 non-null    float64
 16  유흥_지출_총금액          314 non-null    float64
 17  집객시설_수             332 non-null    float64
 18  총_직장_인구_수          332 non-null    float64
 19  남성_직장_인구_수         332 non-null    float64
 20  여성_직장_인구_수         332 non-null    float64
 21  연령대_10_직장_인구_수     332 non-null    float64
 22  연령대_20_직장_인구_수     332 non-null    float64
 23  연령대_30_직장_인구_수     332 non-null    float64
 24  연령대_40_직장_인구_수     332 non-null    float64
 25  연령대_50_직장_인구_수     332 non-null    float64
 26  연령대_60_이상_직장_인구_수  332 non-null    float64
 27  단독주택_가격            312 non-null    float64
 28  아파트_가격             310 non-null    float64
 29  연립주택_가격            302 non-null    float64
 30  오피스텔_가격            274 non-null    float64
 31  단독주택_면적            312 non-null    float64
 32  아파트_면적             310 non-null    float64
 33  연립주택_면적            302 non-null    float64
 34  오피스텔_면적            274 non-null    float64
 35  총전입                250 non-null    float64
 36  총전출                250 non-null    float64
 37  구내이동전입             250 non-null    float64
 38  구내이동전출             250 non-null    float64
 39  구간이동전입             250 non-null    float64
 40  구간이동전출             250 non-null    float64
 41  시도간이동전입            250 non-null    float64
 42  시도간이동전출            250 non-null    float64
 43  거주_세대_수            250 non-null    float64
 44  거주인구_총계            250 non-null    float64
 45  거주인구_남자            250 non-null    float64
 46  거주인구_여자            250 non-null    float64
 47  세대당인구              250 non-null    float64
 48  65세이상고령자           250 non-null    float64
 49  호선                 290 non-null    float64
 50  지하철이용객수            290 non-null    float64
 51  자전거보관가능대수          290 non-null    object
 52  환승거리(m)            290 non-null    float64
 53  환승역개수              290 non-null    float64
 54  엘레베이터              290 non-null    float64
 55  에스컬레이터             290 non-null    float64
 56  휠체어경사로             290 non-null    float64
 57  휠체어리프트             290 non-null    float64
 58  장애인편의시설            290 non-null    float64
 59  만남의장소              290 non-null    float64
 60  현장사무소              290 non-null    float64
 61  민원안내               290 non-null    float64
 62  환승주차장              290 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 184.0+ KB

In [642]:
sub_2017 = pd.merge(target_2017, feature_2017, how='outer', on=['기준_년_코드','역명']) # 목표변수에는 '호선'컬럼 없음 주의!

# 컬럼명 변경
sub_2017 = sub_2017.rename({'단독주택':'단독주택_가격','아파트':'아파트_가격',
                           '연립주택':'연립주택_가격','오피스텔':'오피스텔_가격','세대':'거주_세대_수','계':'거주인구_총계',
                           '남자':'거주인구_남자','여자':'거주인구_여자'}, axis='columns')
sub_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            365 non-null    int64
 1   역명                 365 non-null    object
 2   상권_변화_지표           330 non-null    object
 3   상권_변화_지표_명         330 non-null    object
 4   서울_운영_영업_개월_평균     330 non-null    float64
 5   서울_폐업_영업_개월_평균     330 non-null    float64
 6   월_평균_소득_금액         312 non-null    float64
 7   지출_총금액             312 non-null    float64
 8   식료품_지출_총금액         312 non-null    float64
 9   의류_신발_지출_총금액       312 non-null    float64
 10  생활용품_지출_총금액        312 non-null    float64
 11  의료비_지출_총금액         312 non-null    float64
 12  교통_지출_총금액          312 non-null    float64
 13  여가_지출_총금액          312 non-null    float64
 14  문화_지출_총금액          312 non-null    float64
 15  교육_지출_총금액          312 non-null    float64
 16  유흥_지출_총금액          312 non-null    float64
 17  집객시설_수             330 non-null    float64
 18  총_직장_인구_수          330 non-null    float64
 19  남성_직장_인구_수         330 non-null    float64
 20  여성_직장_인구_수         330 non-null    float64
 21  연령대_10_직장_인구_수     330 non-null    float64
 22  연령대_20_직장_인구_수     330 non-null    float64
 23  연령대_30_직장_인구_수     330 non-null    float64
 24  연령대_40_직장_인구_수     330 non-null    float64
 25  연령대_50_직장_인구_수     330 non-null    float64
 26  연령대_60_이상_직장_인구_수  330 non-null    float64
 27  단독주택_가격            314 non-null    float64
 28  아파트_가격             304 non-null    float64
 29  연립주택_가격            302 non-null    float64
 30  오피스텔_가격            272 non-null    float64
 31  단독주택_면적            314 non-null    float64
 32  아파트_면적             304 non-null    float64
 33  연립주택_면적            302 non-null    float64
 34  오피스텔_면적            272 non-null    float64
 35  총전입                248 non-null    float64
 36  총전출                248 non-null    float64
 37  구내이동전입             248 non-null    float64
 38  구내이동전출             248 non-null    float64
 39  구간이동전입             248 non-null    float64
 40  구간이동전출             248 non-null    float64
 41  시도간이동전입            248 non-null    float64
 42  시도간이동전출            248 non-null    float64
 43  거주_세대_수            248 non-null    float64
 44  거주인구_총계            248 non-null    float64
 45  거주인구_남자            248 non-null    float64
 46  거주인구_여자            248 non-null    float64
 47  세대당인구              248 non-null    float64
 48  65세이상고령자           248 non-null    float64
 49  호선                 286 non-null    float64
 50  지하철이용객수            286 non-null    float64
 51  자전거보관가능대수          286 non-null    object
 52  환승거리(m)            286 non-null    float64
 53  환승역개수              286 non-null    float64
 54  엘레베이터              286 non-null    float64
 55  에스컬레이터             286 non-null    float64
 56  휠체어경사로             286 non-null    float64
 57  휠체어리프트             286 non-null    float64
 58  장애인편의시설            286 non-null    float64
 59  만남의장소              286 non-null    float64
 60  현장사무소              286 non-null    float64
 61  민원안내               286 non-null    float64
 62  환승주차장              286 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 182.5+ KB

In [643]:
sub_2019 = pd.merge(target_2019, feature_2019, how='outer', on=['기준_년_코드','역명']) # 목표변수에는 '호선'컬럼 없음 주의!

# 컬럼명 변경
sub_2019 = sub_2019.rename({'단독주택':'단독주택_가격','아파트':'아파트_가격',
                           '연립주택':'연립주택_가격','오피스텔':'오피스텔_가격','세대':'거주_세대_수','계':'거주인구_총계',
                           '남자':'거주인구_남자','여자':'거주인구_여자'}, axis='columns')
sub_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 369
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            370 non-null    int64
 1   역명                 370 non-null    object
 2   상권_변화_지표           335 non-null    object
 3   상권_변화_지표_명         335 non-null    object
 4   서울_운영_영업_개월_평균     335 non-null    float64
 5   서울_폐업_영업_개월_평균     335 non-null    float64
 6   월_평균_소득_금액         317 non-null    float64
 7   지출_총금액             317 non-null    float64
 8   식료품_지출_총금액         317 non-null    float64
 9   의류_신발_지출_총금액       317 non-null    float64
 10  생활용품_지출_총금액        317 non-null    float64
 11  의료비_지출_총금액         317 non-null    float64
 12  교통_지출_총금액          317 non-null    float64
 13  여가_지출_총금액          317 non-null    float64
 14  문화_지출_총금액          317 non-null    float64
 15  교육_지출_총금액          317 non-null    float64
 16  유흥_지출_총금액          317 non-null    float64
 17  집객시설_수             335 non-null    float64
 18  총_직장_인구_수          335 non-null    float64
 19  남성_직장_인구_수         335 non-null    float64
 20  여성_직장_인구_수         335 non-null    float64
 21  연령대_10_직장_인구_수     335 non-null    float64
 22  연령대_20_직장_인구_수     335 non-null    float64
 23  연령대_30_직장_인구_수     335 non-null    float64
 24  연령대_40_직장_인구_수     335 non-null    float64
 25  연령대_50_직장_인구_수     335 non-null    float64
 26  연령대_60_이상_직장_인구_수  335 non-null    float64
 27  단독주택_가격            316 non-null    float64
 28  아파트_가격             316 non-null    float64
 29  연립주택_가격            303 non-null    float64
 30  오피스텔_가격            277 non-null    float64
 31  단독주택_면적            316 non-null    float64
 32  아파트_면적             316 non-null    float64
 33  연립주택_면적            303 non-null    float64
 34  오피스텔_면적            277 non-null    float64
 35  총전입                254 non-null    float64
 36  총전출                254 non-null    float64
 37  구내이동전입             254 non-null    float64
 38  구내이동전출             254 non-null    float64
 39  구간이동전입             254 non-null    float64
 40  구간이동전출             254 non-null    float64
 41  시도간이동전입            254 non-null    float64
 42  시도간이동전출            254 non-null    float64
 43  거주_세대_수            254 non-null    float64
 44  거주인구_총계            254 non-null    float64
 45  거주인구_남자            254 non-null    float64
 46  거주인구_여자            254 non-null    float64
 47  세대당인구              254 non-null    float64
 48  65세이상고령자           254 non-null    float64
 49  호선                 292 non-null    float64
 50  지하철이용객수            292 non-null    float64
 51  자전거보관가능대수          292 non-null    object
 52  환승거리(m)            292 non-null    float64
 53  환승역개수              292 non-null    float64
 54  엘레베이터              292 non-null    float64
 55  에스컬레이터             292 non-null    float64
 56  휠체어경사로             292 non-null    float64
 57  휠체어리프트             292 non-null    float64
 58  장애인편의시설            292 non-null    float64
 59  만남의장소              292 non-null    float64
 60  현장사무소              292 non-null    float64
 61  민원안내               292 non-null    float64
 62  환승주차장              292 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 185.0+ KB

In [644]:
sub_2019

,기준_년_코드,역명,상권_변화_지표,상권_변화_지표_명,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,...,환승역개수,엘레베이터,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장
0,2019,광화문역,LH,상권확장,110.0,54.0,2925434.50,2.991833e+09,8.132225e+08,380230170.0,...,0.0,2.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0
1,2019,경복궁역,HH,정체,110.0,54.0,3565148.25,3.774386e+09,9.792566e+08,450942369.0,...,0.0,2.0,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2,2019,안국역,LH,상권확장,110.0,54.0,3677489.00,1.761379e+09,4.958695e+08,210309868.0,...,0.0,2.0,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3,2019,서대문역,HH,정체,110.0,54.0,3947486.75,6.256333e+09,1.683346e+09,741936773.0,...,0.0,3.0,8.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
4,2019,종로3가역,HH,정체,110.0,54.0,2925434.50,2.991833e+09,8.132225e+08,380230170.0,...,6.0,3.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,2019,남한산성입구역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,4.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0
366,2019,단대오거리역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3.0,4.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
367,2019,신흥역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
368,2019,수진역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
369,2019,모란역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3.0,2.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0

In [526]:
# 최종 데이터셋
sub_2016.to_csv('sub_2016.csv', index=False, encoding='utf-8-sig')
sub_2017.to_csv('sub_2017.csv', index=False, encoding='utf-8-sig')
sub_2019.to_csv('sub_2019.csv', index=False, encoding='utf-8-sig')

#### 결측치 처리

In [645]:
# 전체 연도 데이터셋 + 역 자치구명 데이터셋
sub_2016 = pd.read_csv('sub_2016.csv', thousands=',')
sub_2017 = pd.read_csv('sub_2017.csv', thousands=',')
sub_2019 = pd.read_csv('sub_2019.csv', thousands=',')
sub_ = sub_2016.merge(sub_2017, how="outer").merge(sub_2019, how="outer")
sub_.info()

sta_code_gu = pd.read_csv('sta_code_gu.csv')
sta_code_gu = sta_code_gu.loc[:,['SBW_STATN_NM','자치구명']].drop_duplicates('SBW_STATN_NM').reset_index(drop=True)
sta_code_gu

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 0 to 1102
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            1103 non-null   int64
 1   역명                 1103 non-null   object
 2   상권_변화_지표           997 non-null    object
 3   상권_변화_지표_명         997 non-null    object
 4   서울_운영_영업_개월_평균     997 non-null    float64
 5   서울_폐업_영업_개월_평균     997 non-null    float64
 6   월_평균_소득_금액         943 non-null    float64
 7   지출_총금액             943 non-null    float64
 8   식료품_지출_총금액         943 non-null    float64
 9   의류_신발_지출_총금액       943 non-null    float64
 10  생활용품_지출_총금액        943 non-null    float64
 11  의료비_지출_총금액         943 non-null    float64
 12  교통_지출_총금액          943 non-null    float64
 13  여가_지출_총금액          943 non-null    float64
 14  문화_지출_총금액          943 non-null    float64
 15  교육_지출_총금액          943 non-null    float64
 16  유흥_지출_총금액          943 non-null    float64
 17  집객시설_수             997 non-null    float64
 18  총_직장_인구_수          997 non-null    float64
 19  남성_직장_인구_수         997 non-null    float64
 20  여성_직장_인구_수         997 non-null    float64
 21  연령대_10_직장_인구_수     997 non-null    float64
 22  연령대_20_직장_인구_수     997 non-null    float64
 23  연령대_30_직장_인구_수     997 non-null    float64
 24  연령대_40_직장_인구_수     997 non-null    float64
 25  연령대_50_직장_인구_수     997 non-null    float64
 26  연령대_60_이상_직장_인구_수  997 non-null    float64
 27  단독주택_가격            942 non-null    float64
 28  아파트_가격             930 non-null    float64
 29  연립주택_가격            907 non-null    float64
 30  오피스텔_가격            823 non-null    float64
 31  단독주택_면적            942 non-null    float64
 32  아파트_면적             930 non-null    float64
 33  연립주택_면적            907 non-null    float64
 34  오피스텔_면적            823 non-null    float64
 35  총전입                752 non-null    float64
 36  총전출                752 non-null    float64
 37  구내이동전입             752 non-null    float64
 38  구내이동전출             752 non-null    float64
 39  구간이동전입             752 non-null    float64
 40  구간이동전출             752 non-null    float64
 41  시도간이동전입            752 non-null    float64
 42  시도간이동전출            752 non-null    float64
 43  거주_세대_수            752 non-null    float64
 44  거주인구_총계            752 non-null    float64
 45  거주인구_남자            752 non-null    float64
 46  거주인구_여자            752 non-null    float64
 47  세대당인구              752 non-null    float64
 48  65세이상고령자           752 non-null    float64
 49  호선                 868 non-null    float64
 50  지하철이용객수            868 non-null    float64
 51  자전거보관가능대수          868 non-null    float64
 52  환승거리(m)            868 non-null    float64
 53  환승역개수              868 non-null    float64
 54  엘레베이터              868 non-null    float64
 55  에스컬레이터             868 non-null    float64
 56  휠체어경사로             868 non-null    float64
 57  휠체어리프트             868 non-null    float64
 58  장애인편의시설            868 non-null    float64
 59  만남의장소              868 non-null    float64
 60  현장사무소              868 non-null    float64
 61  민원안내               868 non-null    float64
 62  환승주차장              868 non-null    float64
dtypes: float64(59), int64(1), object(3)
memory usage: 551.5+ KB

    SBW_STATN_NM 자치구명
0           도봉산역  도봉구
1            도봉역  도봉구
2            방학역  도봉구
3            창동역  도봉구
4            녹천역  도봉구
..           ...  ...
294          삼양역  강북구
295       삼양사거리역  강북구
296          솔샘역  강북구
297      북한산보국문역  성북구
298          정릉역  성북구

[299 rows x 2 columns]

In [646]:
sub_gu = pd.merge(sub_, sta_code_gu, how='left', left_on='역명', right_on='SBW_STATN_NM')
sub_gu

,기준_년_코드,역명,상권_변화_지표,상권_변화_지표_명,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,...,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장,SBW_STATN_NM,자치구명
0,2016,광화문역,LH,상권확장,96.0,49.0,3305688.25,2.523273e+09,6.820667e+08,321413666.0,...,4.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0,광화문역,종로구
1,2016,경복궁역,HH,정체,96.0,49.0,3821870.50,3.897429e+09,9.917484e+08,469887895.5,...,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,경복궁역,종로구
2,2016,안국역,LH,상권확장,96.0,49.0,4098538.25,1.765200e+09,4.845781e+08,212462234.5,...,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,안국역,종로구
3,2016,서대문역,HH,정체,96.0,49.0,4966916.50,5.285493e+09,1.384475e+09,630766933.5,...,8.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,서대문역,종로구
4,2016,종로3가역,HH,정체,96.0,49.0,3305688.25,2.523273e+09,6.820667e+08,321413666.0,...,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,종로3가역,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2019,남한산성입구역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
1099,2019,단대오거리역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN
1100,2019,신흥역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
1101,2019,수진역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN
1102,2019,모란역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN

In [529]:
sub_gu.to_csv('sub_gu.csv', index=False, encoding='utf-8-sig')

In [565]:
sub_gu.자치구명.isnull().sum()

91

In [647]:
# 범주형변수 결측치 처리
col = ['장애인편의시설','만남의장소','현장사무소','민원안내','환승주차장']
sub_gu[col] = sub_gu[col].fillna(0)

sub_gu[col].isnull().sum()

장애인편의시설    0
만남의장소      0
현장사무소      0
민원안내       0
환승주차장      0
dtype: int64

In [648]:
# 수치형변수 결측치 처리 - 입력변수
# 엘레베이터~휠체어리프트
col = ['엘레베이터','에스컬레이터','휠체어경사로','휠체어리프트']
sub_gu[col] = sub_gu[col].fillna(sub_gu[col].median())

#sub_2016[col] = sub_2016[col].fillna(sub_2016[col].median())
#sub_2017[col] = sub_2017[col].fillna(sub_2017[col].median())
#sub_2019[col] = sub_2019[col].fillna(sub_2019[col].median())

sub_gu[col].isnull().sum()

엘레베이터     0
에스컬레이터    0
휠체어경사로    0
휠체어리프트    0
dtype: int64

In [650]:
# 집값/면적 - 중앙값
col = ['단독주택_가격','아파트_가격','연립주택_가격','오피스텔_가격','단독주택_면적','아파트_면적','연립주택_면적','오피스텔_면적']

sub_gu[col] = sub_gu[col].fillna(sub_gu[col].median())
sub_gu[col].isnull().sum()

단독주택_가격    0
아파트_가격     0
연립주택_가격    0
오피스텔_가격    0
단독주택_면적    0
아파트_면적     0
연립주택_면적    0
오피스텔_면적    0
dtype: int64

In [651]:
sub_gu = sub_gu.drop('SBW_STATN_NM', axis='columns')
sub_gu

,기준_년_코드,역명,상권_변화_지표,상권_변화_지표_명,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,...,엘레베이터,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장,자치구명
0,2016,광화문역,LH,상권확장,96.0,49.0,3305688.25,2.523273e+09,6.820667e+08,321413666.0,...,2.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0,종로구
1,2016,경복궁역,HH,정체,96.0,49.0,3821870.50,3.897429e+09,9.917484e+08,469887895.5,...,2.0,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,종로구
2,2016,안국역,LH,상권확장,96.0,49.0,4098538.25,1.765200e+09,4.845781e+08,212462234.5,...,2.0,10.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,종로구
3,2016,서대문역,HH,정체,96.0,49.0,4966916.50,5.285493e+09,1.384475e+09,630766933.5,...,3.0,8.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,종로구
4,2016,종로3가역,HH,정체,96.0,49.0,3305688.25,2.523273e+09,6.820667e+08,321413666.0,...,3.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,2019,남한산성입구역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,4.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN
1099,2019,단대오거리역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN
1100,2019,신흥역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
1101,2019,수진역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN
1102,2019,모란역,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN

In [652]:
sub_2016 = sub_gu[sub_gu['기준_년_코드'] == 2016]
sub_2017 = sub_gu[sub_gu['기준_년_코드'] == 2017]
sub_2019 = sub_gu[sub_gu['기준_년_코드'] == 2019]

In [653]:
# 모두 동일한 값인 경우
sub_2016 = sub_2016.replace({'서울_운영_영업_개월_평균':np.nan},{'서울_운영_영업_개월_평균':96})
sub_2016 = sub_2016.replace({'서울_폐업_영업_개월_평균':np.nan},{'서울_폐업_영업_개월_평균':49})

sub_2017 = sub_2017.replace({'서울_운영_영업_개월_평균':np.nan},{'서울_운영_영업_개월_평균':98})
sub_2017 = sub_2017.replace({'서울_폐업_영업_개월_평균':np.nan},{'서울_폐업_영업_개월_평균':50})

sub_2019 = sub_2019.replace({'서울_운영_영업_개월_평균':np.nan},{'서울_운영_영업_개월_평균':110})
sub_2019 = sub_2019.replace({'서울_폐업_영업_개월_평균':np.nan},{'서울_폐업_영업_개월_평균':54})

In [654]:
# 최종 데이터셋 완료
sub_2016.to_csv('all_2016.csv', index=False, encoding='utf-8-sig')
sub_2017.to_csv('all_2017.csv', index=False, encoding='utf-8-sig')
sub_2019.to_csv('all_2019.csv', index=False, encoding='utf-8-sig')

In [838]:
# 수작업 후(호선, 환승역 개수, 자치구명, 역명-호선 불일치 수정, 중복값 제거), 결측치 처리 2
all_2016 = pd.read_csv('all_2016_최종.csv', thousands=',')
all_2017 = pd.read_csv('all_2017_최종.csv', thousands=',')
all_2019 = pd.read_csv('all_2019_최종.csv', thousands=',')

all = all_2016.merge(all_2017, how='outer').merge(all_2019, how='outer')
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017 entries, 0 to 1016
Data columns (total 64 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            1017 non-null   int64
 1   역명                 1017 non-null   object
 2   호선                 1017 non-null   object
 3   상권_변화_지표           1017 non-null   object
 4   상권_변화_지표_명         1017 non-null   object
 5   서울_운영_영업_개월_평균     1017 non-null   int64
 6   서울_폐업_영업_개월_평균     1017 non-null   int64
 7   월_평균_소득_금액         936 non-null    float64
 8   지출_총금액             936 non-null    float64
 9   식료품_지출_총금액         936 non-null    float64
 10  의류_신발_지출_총금액       936 non-null    float64
 11  생활용품_지출_총금액        936 non-null    float64
 12  의료비_지출_총금액         936 non-null    float64
 13  교통_지출_총금액          936 non-null    float64
 14  여가_지출_총금액          936 non-null    float64
 15  문화_지출_총금액          936 non-null    float64
 16  교육_지출_총금액          936 non-null    float64
 17  유흥_지출_총금액          936 non-null    float64
 18  집객시설_수             989 non-null    float64
 19  총_직장_인구_수          989 non-null    float64
 20  남성_직장_인구_수         989 non-null    float64
 21  여성_직장_인구_수         989 non-null    float64
 22  연령대_10_직장_인구_수     989 non-null    float64
 23  연령대_20_직장_인구_수     989 non-null    float64
 24  연령대_30_직장_인구_수     989 non-null    float64
 25  연령대_40_직장_인구_수     989 non-null    float64
 26  연령대_50_직장_인구_수     989 non-null    float64
 27  연령대_60_이상_직장_인구_수  989 non-null    float64
 28  단독주택_가격            1017 non-null   float64
 29  아파트_가격             1017 non-null   float64
 30  연립주택_가격            1017 non-null   float64
 31  오피스텔_가격            1017 non-null   float64
 32  단독주택_면적            1017 non-null   float64
 33  아파트_면적             1017 non-null   float64
 34  연립주택_면적            1017 non-null   float64
 35  오피스텔_면적            1017 non-null   float64
 36  총전입                743 non-null    float64
 37  총전출                743 non-null    float64
 38  구내이동전입             743 non-null    float64
 39  구내이동전출             743 non-null    float64
 40  구간이동전입             743 non-null    float64
 41  구간이동전출             743 non-null    float64
 42  시도간이동전입            743 non-null    float64
 43  시도간이동전출            743 non-null    float64
 44  거주_세대_수            743 non-null    float64
 45  거주인구_총계            743 non-null    float64
 46  거주인구_남자            743 non-null    float64
 47  거주인구_여자            743 non-null    float64
 48  세대당인구              743 non-null    float64
 49  65세이상고령자           743 non-null    float64
 50  지하철이용객수            775 non-null    float64
 51  자전거보관가능대수          717 non-null    float64
 52  환승거리(m)            266 non-null    float64
 53  환승역개수              327 non-null    float64
 54  엘레베이터              1017 non-null   int64
 55  에스컬레이터             1017 non-null   int64
 56  휠체어경사로             1017 non-null   int64
 57  휠체어리프트             1017 non-null   int64
 58  장애인편의시설            1017 non-null   int64
 59  만남의장소              1017 non-null   int64
 60  현장사무소              1017 non-null   int64
 61  민원안내               1017 non-null   int64
 62  환승주차장              1017 non-null   int64
 63  자치구명               1017 non-null   object
dtypes: float64(47), int64(12), object(5)
memory usage: 516.4+ KB

In [839]:
# 상권/직장인구 결측치 대체
#col = ['월_평균_소득_금액','지출_총금액','식료품_지출_총금액', '의류_신발_지출_총금액','생활용품_지출_총금액',
       #'의료비_지출_총금액','교통_지출_총금액','여가_지출_총금액','문화_지출_총금액','교육_지출_총금액','유흥_지출_총금액','집객시설_수',
       #'총_직장_인구_수','남성_직장_인구_수','여성_직장_인구_수','연령대_10_직장_인구_수','연령대_20_직장_인구_수','연령대_30_직장_인구_수',
       #'연령대_40_직장_인구_수','연령대_50_직장_인구_수','연령대_60_이상_직장_인구_수']

#all[col] = all.groupby('상권_변화_지표')[col].apply(lambda x: x.fillna(x.median())).reset_index(0, drop=True)
#all[col] = all[col].fillna(all[col].median())
#all[col].isnull().sum()

all.월_평균_소득_금액 = all.groupby('상권_변화_지표')['월_평균_소득_금액'].apply(lambda x: x.fillna(x.median()))
all.월_평균_소득_금액 = all.월_평균_소득_금액.fillna(all.월_평균_소득_금액.median())

all.지출_총금액 = all.groupby('상권_변화_지표')['지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.지출_총금액 = all.지출_총금액.fillna(all.지출_총금액.median())

all.식료품_지출_총금액 = all.groupby('상권_변화_지표')['식료품_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.식료품_지출_총금액 = all.식료품_지출_총금액.fillna(all.식료품_지출_총금액.median())

all.의류_신발_지출_총금액 = all.groupby('상권_변화_지표')['의류_신발_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.의류_신발_지출_총금액 = all.의류_신발_지출_총금액.fillna(all.의류_신발_지출_총금액.median())

all.생활용품_지출_총금액 = all.groupby('상권_변화_지표')['생활용품_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.생활용품_지출_총금액 = all.생활용품_지출_총금액.fillna(all.생활용품_지출_총금액.median())

all.의료비_지출_총금액 = all.groupby('상권_변화_지표')['의료비_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.의료비_지출_총금액 = all.의료비_지출_총금액.fillna(all.의료비_지출_총금액.median())

all.교통_지출_총금액 = all.groupby('상권_변화_지표')['교통_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.교통_지출_총금액 = all.교통_지출_총금액.fillna(all.교통_지출_총금액.median())

all.여가_지출_총금액 = all.groupby('상권_변화_지표')['여가_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.여가_지출_총금액 = all.여가_지출_총금액.fillna(all.여가_지출_총금액.median())

all.문화_지출_총금액 = all.groupby('상권_변화_지표')['문화_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.문화_지출_총금액 = all.문화_지출_총금액.fillna(all.문화_지출_총금액.median())

all.교육_지출_총금액 = all.groupby('상권_변화_지표')['교육_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.교육_지출_총금액 = all.월_평균_소득_금액.fillna(all.교육_지출_총금액.median())

all.유흥_지출_총금액 = all.groupby('상권_변화_지표')['유흥_지출_총금액'].apply(lambda x: x.fillna(x.median()))
all.유흥_지출_총금액 = all.유흥_지출_총금액.fillna(all.유흥_지출_총금액.median())

all.집객시설_수 = all.groupby('상권_변화_지표')['집객시설_수'].apply(lambda x: x.fillna(x.median()))
all.집객시설_수 = all.집객시설_수.fillna(all.집객시설_수.median())

all.총_직장_인구_수 = all.groupby('상권_변화_지표')['총_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.총_직장_인구_수 = all.총_직장_인구_수.fillna(all.총_직장_인구_수.median())

all.남성_직장_인구_수 = all.groupby('상권_변화_지표')['남성_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.남성_직장_인구_수 = all.남성_직장_인구_수.fillna(all.남성_직장_인구_수.median())

all.여성_직장_인구_수 = all.groupby('상권_변화_지표')['여성_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.여성_직장_인구_수 = all.여성_직장_인구_수.fillna(all.여성_직장_인구_수.median())

all.연령대_10_직장_인구_수 = all.groupby('상권_변화_지표')['연령대_10_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.연령대_10_직장_인구_수 = all.연령대_10_직장_인구_수.fillna(all.연령대_10_직장_인구_수.median())

all.연령대_20_직장_인구_수 = all.groupby('상권_변화_지표')['연령대_20_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.연령대_20_직장_인구_수 = all.연령대_20_직장_인구_수.fillna(all.연령대_20_직장_인구_수.median())

all.연령대_30_직장_인구_수 = all.groupby('상권_변화_지표')['연령대_30_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.연령대_30_직장_인구_수 = all.연령대_30_직장_인구_수.fillna(all.연령대_30_직장_인구_수.median())

all.연령대_40_직장_인구_수 = all.groupby('상권_변화_지표')['연령대_40_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.연령대_40_직장_인구_수 = all.연령대_40_직장_인구_수.fillna(all.연령대_40_직장_인구_수.median())

all.연령대_50_직장_인구_수 = all.groupby('상권_변화_지표')['연령대_50_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.연령대_50_직장_인구_수 = all.연령대_50_직장_인구_수.fillna(all.연령대_50_직장_인구_수.median())

all.연령대_60_이상_직장_인구_수 = all.groupby('상권_변화_지표')['연령대_60_이상_직장_인구_수'].apply(lambda x: x.fillna(x.median()))
all.연령대_60_이상_직장_인구_수 = all.연령대_60_이상_직장_인구_수.fillna(all.연령대_60_이상_직장_인구_수.median())

all.연령대_60_이상_직장_인구_수.isnull().sum()

0

In [840]:
all

,기준_년_코드,역명,호선,상권_변화_지표,상권_변화_지표_명,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,...,엘레베이터,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장,자치구명
0,2016,4.19민주묘지역,우이신설,HL,상권축소,96,49,3646983.250,7.844648e+09,2.047647e+09,...,3,6,2,2,0,0,0,0,0,강북구
1,2016,가락시장역,3,LL,다이나믹,96,49,4717435.250,8.796643e+09,2.121087e+09,...,3,22,1,2,0,0,0,0,0,송파구
2,2016,가락시장역,8,LL,다이나믹,96,49,4717435.250,8.796643e+09,2.121087e+09,...,6,12,1,2,1,0,0,0,0,송파구
3,2016,가산디지털단지역,7,LL,다이나믹,96,49,3034082.000,7.700911e+09,2.020551e+09,...,4,12,2,4,1,0,0,0,0,금천구
4,2016,가양역,9,LH,상권확장,96,49,4446808.000,1.064145e+10,2.623948e+09,...,3,6,2,2,0,0,0,0,0,강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,2019,회기역,1,HL,상권축소,110,54,2622025.250,4.144861e+09,1.130443e+09,...,3,6,2,2,0,0,0,0,0,동대문구
1013,2019,회현역,4,HH,정체,110,54,4346168.250,4.276039e+09,1.068525e+09,...,2,6,1,2,1,0,0,0,0,중구
1014,2019,효창공원앞역,경의중앙,HH,정체,110,54,3492491.500,7.701378e+09,1.951049e+09,...,2,6,2,1,1,0,0,0,0,용산구
1015,2019,효창공원앞역,6,HH,정체,110,54,3407639.125,6.025716e+09,1.584625e+09,...,3,6,4,2,0,0,0,0,0,용산구
1016,2019,흑석역,9,LH,상권확장,110,54,4390531.000,6.511575e+09,1.718194e+09,...,3,6,2,2,0,0,0,0,0,동작구

In [841]:
all['자전거보관가능대수'].isnull().sum()

300

In [842]:
# 자전거보관가능대수 - 자치구별 중앙값
all.자전거보관가능대수 = all.groupby('자치구명')['자전거보관가능대수'].apply(lambda x: x.fillna(x.median()))
all.자전거보관가능대수 = all.자전거보관가능대수.fillna(all.자전거보관가능대수.median())
all['자전거보관가능대수'].isnull().sum()

0

In [843]:
all = all.rename({'65세이상고령자':'고령자_65세이상'}, axis='columns')
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017 entries, 0 to 1016
Data columns (total 64 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            1017 non-null   int64
 1   역명                 1017 non-null   object
 2   호선                 1017 non-null   object
 3   상권_변화_지표           1017 non-null   object
 4   상권_변화_지표_명         1017 non-null   object
 5   서울_운영_영업_개월_평균     1017 non-null   int64
 6   서울_폐업_영업_개월_평균     1017 non-null   int64
 7   월_평균_소득_금액         1017 non-null   float64
 8   지출_총금액             1017 non-null   float64
 9   식료품_지출_총금액         1017 non-null   float64
 10  의류_신발_지출_총금액       1017 non-null   float64
 11  생활용품_지출_총금액        1017 non-null   float64
 12  의료비_지출_총금액         1017 non-null   float64
 13  교통_지출_총금액          1017 non-null   float64
 14  여가_지출_총금액          1017 non-null   float64
 15  문화_지출_총금액          1017 non-null   float64
 16  교육_지출_총금액          1017 non-null   float64
 17  유흥_지출_총금액          1017 non-null   float64
 18  집객시설_수             1017 non-null   float64
 19  총_직장_인구_수          1017 non-null   float64
 20  남성_직장_인구_수         1017 non-null   float64
 21  여성_직장_인구_수         1017 non-null   float64
 22  연령대_10_직장_인구_수     1017 non-null   float64
 23  연령대_20_직장_인구_수     1017 non-null   float64
 24  연령대_30_직장_인구_수     1017 non-null   float64
 25  연령대_40_직장_인구_수     1017 non-null   float64
 26  연령대_50_직장_인구_수     1017 non-null   float64
 27  연령대_60_이상_직장_인구_수  1017 non-null   float64
 28  단독주택_가격            1017 non-null   float64
 29  아파트_가격             1017 non-null   float64
 30  연립주택_가격            1017 non-null   float64
 31  오피스텔_가격            1017 non-null   float64
 32  단독주택_면적            1017 non-null   float64
 33  아파트_면적             1017 non-null   float64
 34  연립주택_면적            1017 non-null   float64
 35  오피스텔_면적            1017 non-null   float64
 36  총전입                743 non-null    float64
 37  총전출                743 non-null    float64
 38  구내이동전입             743 non-null    float64
 39  구내이동전출             743 non-null    float64
 40  구간이동전입             743 non-null    float64
 41  구간이동전출             743 non-null    float64
 42  시도간이동전입            743 non-null    float64
 43  시도간이동전출            743 non-null    float64
 44  거주_세대_수            743 non-null    float64
 45  거주인구_총계            743 non-null    float64
 46  거주인구_남자            743 non-null    float64
 47  거주인구_여자            743 non-null    float64
 48  세대당인구              743 non-null    float64
 49  고령자_65세이상          743 non-null    float64
 50  지하철이용객수            775 non-null    float64
 51  자전거보관가능대수          1017 non-null   float64
 52  환승거리(m)            266 non-null    float64
 53  환승역개수              327 non-null    float64
 54  엘레베이터              1017 non-null   int64
 55  에스컬레이터             1017 non-null   int64
 56  휠체어경사로             1017 non-null   int64
 57  휠체어리프트             1017 non-null   int64
 58  장애인편의시설            1017 non-null   int64
 59  만남의장소              1017 non-null   int64
 60  현장사무소              1017 non-null   int64
 61  민원안내               1017 non-null   int64
 62  환승주차장              1017 non-null   int64
 63  자치구명               1017 non-null   object
dtypes: float64(47), int64(12), object(5)
memory usage: 516.4+ KB

In [844]:
# 수치형변수 결측치 처리 - 입력변수
# 거주/전입/전출 인구 - 자치구별 중앙값
#col = ['총전입','총전출','구내이동전입','구내이동전출','구간이동전입','구간이동전출','시도간이동전입','시도간이동전출','거주_세대_수','거주인구_총계','거주인구_남자','거주인구_여자','세대당인구','65세이상고령자']

#all[col] = all.groupby('자치구명')[col].apply(lambda x: x.fillna(x.median())).reset_index(0, drop=True)
#all[col] = all[col].fillna(all[col].median())
#all[col].isnull().sum()

all.총전입 = all.groupby('자치구명')['총전입'].apply(lambda x: x.fillna(x.median()))
all.총전입 = all.총전입.fillna(all.총전입.median())

all.총전출 = all.groupby('자치구명')['총전출'].apply(lambda x: x.fillna(x.median()))
all.총전출 = all.총전출.fillna(all.총전출.median())

all.구내이동전입 = all.groupby('자치구명')['구내이동전입'].apply(lambda x: x.fillna(x.median()))
all.구내이동전입 = all.구내이동전입.fillna(all.구내이동전입.median())

all.구내이동전출 = all.groupby('자치구명')['구내이동전출'].apply(lambda x: x.fillna(x.median()))
all.구내이동전출 = all.구내이동전출.fillna(all.구내이동전출.median())

all.구간이동전입 = all.groupby('자치구명')['구간이동전입'].apply(lambda x: x.fillna(x.median()))
all.구간이동전입 = all.구간이동전입.fillna(all.구간이동전입.median())

all.구간이동전출 = all.groupby('자치구명')['구간이동전출'].apply(lambda x: x.fillna(x.median()))
all.구간이동전출 = all.구간이동전출.fillna(all.구간이동전출.median())

all.시도간이동전입 = all.groupby('자치구명')['시도간이동전입'].apply(lambda x: x.fillna(x.median()))
all.시도간이동전입 = all.총전입.fillna(all.시도간이동전입.median())

all.시도간이동전출 = all.groupby('자치구명')['시도간이동전출'].apply(lambda x: x.fillna(x.median()))
all.시도간이동전출 = all.시도간이동전출.fillna(all.시도간이동전출.median())

all.거주_세대_수 = all.groupby('자치구명')['거주_세대_수'].apply(lambda x: x.fillna(x.median()))
all.거주_세대_수 = all.거주_세대_수.fillna(all.거주_세대_수.median())

all.거주인구_총계 = all.groupby('자치구명')['거주인구_총계'].apply(lambda x: x.fillna(x.median()))
all.거주인구_총계 = all.거주인구_총계.fillna(all.거주인구_총계.median())

all.거주인구_남자 = all.groupby('자치구명')['거주인구_남자'].apply(lambda x: x.fillna(x.median()))
all.거주인구_남자 = all.거주인구_남자.fillna(all.거주인구_남자.median())

all.거주인구_여자 = all.groupby('자치구명')['거주인구_여자'].apply(lambda x: x.fillna(x.median()))
all.거주인구_여자 = all.거주인구_여자.fillna(all.거주인구_여자.median())

all.세대당인구 = all.groupby('자치구명')['세대당인구'].apply(lambda x: x.fillna(x.median()))
all.세대당인구 = all.세대당인구.fillna(all.세대당인구.median())

all.고령자_65세이상 = all.groupby('자치구명')['고령자_65세이상'].apply(lambda x: x.fillna(x.median()))
all.고령자_65세이상 = all.고령자_65세이상.fillna(all.고령자_65세이상.median())

all.고령자_65세이상.isnull().sum()

0

In [845]:
# 컬럼명 변경
all = all.rename({'환승거리(m)':'환승거리'}, axis='columns')
all

,기준_년_코드,역명,호선,상권_변화_지표,상권_변화_지표_명,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,...,엘레베이터,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장,자치구명
0,2016,4.19민주묘지역,우이신설,HL,상권축소,96,49,3646983.250,7.844648e+09,2.047647e+09,...,3,6,2,2,0,0,0,0,0,강북구
1,2016,가락시장역,3,LL,다이나믹,96,49,4717435.250,8.796643e+09,2.121087e+09,...,3,22,1,2,0,0,0,0,0,송파구
2,2016,가락시장역,8,LL,다이나믹,96,49,4717435.250,8.796643e+09,2.121087e+09,...,6,12,1,2,1,0,0,0,0,송파구
3,2016,가산디지털단지역,7,LL,다이나믹,96,49,3034082.000,7.700911e+09,2.020551e+09,...,4,12,2,4,1,0,0,0,0,금천구
4,2016,가양역,9,LH,상권확장,96,49,4446808.000,1.064145e+10,2.623948e+09,...,3,6,2,2,0,0,0,0,0,강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,2019,회기역,1,HL,상권축소,110,54,2622025.250,4.144861e+09,1.130443e+09,...,3,6,2,2,0,0,0,0,0,동대문구
1013,2019,회현역,4,HH,정체,110,54,4346168.250,4.276039e+09,1.068525e+09,...,2,6,1,2,1,0,0,0,0,중구
1014,2019,효창공원앞역,경의중앙,HH,정체,110,54,3492491.500,7.701378e+09,1.951049e+09,...,2,6,2,1,1,0,0,0,0,용산구
1015,2019,효창공원앞역,6,HH,정체,110,54,3407639.125,6.025716e+09,1.584625e+09,...,3,6,4,2,0,0,0,0,0,용산구
1016,2019,흑석역,9,LH,상권확장,110,54,4390531.000,6.511575e+09,1.718194e+09,...,3,6,2,2,0,0,0,0,0,동작구

In [846]:
# 환승거리 - 환승역별 중앙값 / 환승역 개수,호선 - 수작업
all.환승역개수 = sub_gu.환승역개수.fillna(0)

all.환승거리 = all.groupby('환승역개수')['환승거리'].apply(lambda x: x.fillna(x.median()))
all.환승거리 = all.환승거리.fillna(all.환승거리.median())
all.환승거리.isnull().sum()

0

In [847]:
# 지하철 이용객수
all.지하철이용객수 = all.groupby('자치구명')['지하철이용객수'].apply(lambda x: x.fillna(x.median()))
all.지하철이용객수 = all.지하철이용객수.fillna(all.지하철이용객수.median())
all.지하철이용객수.isnull().sum()

0

In [848]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017 entries, 0 to 1016
Data columns (total 64 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            1017 non-null   int64
 1   역명                 1017 non-null   object
 2   호선                 1017 non-null   object
 3   상권_변화_지표           1017 non-null   object
 4   상권_변화_지표_명         1017 non-null   object
 5   서울_운영_영업_개월_평균     1017 non-null   int64
 6   서울_폐업_영업_개월_평균     1017 non-null   int64
 7   월_평균_소득_금액         1017 non-null   float64
 8   지출_총금액             1017 non-null   float64
 9   식료품_지출_총금액         1017 non-null   float64
 10  의류_신발_지출_총금액       1017 non-null   float64
 11  생활용품_지출_총금액        1017 non-null   float64
 12  의료비_지출_총금액         1017 non-null   float64
 13  교통_지출_총금액          1017 non-null   float64
 14  여가_지출_총금액          1017 non-null   float64
 15  문화_지출_총금액          1017 non-null   float64
 16  교육_지출_총금액          1017 non-null   float64
 17  유흥_지출_총금액          1017 non-null   float64
 18  집객시설_수             1017 non-null   float64
 19  총_직장_인구_수          1017 non-null   float64
 20  남성_직장_인구_수         1017 non-null   float64
 21  여성_직장_인구_수         1017 non-null   float64
 22  연령대_10_직장_인구_수     1017 non-null   float64
 23  연령대_20_직장_인구_수     1017 non-null   float64
 24  연령대_30_직장_인구_수     1017 non-null   float64
 25  연령대_40_직장_인구_수     1017 non-null   float64
 26  연령대_50_직장_인구_수     1017 non-null   float64
 27  연령대_60_이상_직장_인구_수  1017 non-null   float64
 28  단독주택_가격            1017 non-null   float64
 29  아파트_가격             1017 non-null   float64
 30  연립주택_가격            1017 non-null   float64
 31  오피스텔_가격            1017 non-null   float64
 32  단독주택_면적            1017 non-null   float64
 33  아파트_면적             1017 non-null   float64
 34  연립주택_면적            1017 non-null   float64
 35  오피스텔_면적            1017 non-null   float64
 36  총전입                1017 non-null   float64
 37  총전출                1017 non-null   float64
 38  구내이동전입             1017 non-null   float64
 39  구내이동전출             1017 non-null   float64
 40  구간이동전입             1017 non-null   float64
 41  구간이동전출             1017 non-null   float64
 42  시도간이동전입            1017 non-null   float64
 43  시도간이동전출            1017 non-null   float64
 44  거주_세대_수            1017 non-null   float64
 45  거주인구_총계            1017 non-null   float64
 46  거주인구_남자            1017 non-null   float64
 47  거주인구_여자            1017 non-null   float64
 48  세대당인구              1017 non-null   float64
 49  고령자_65세이상          1017 non-null   float64
 50  지하철이용객수            1017 non-null   float64
 51  자전거보관가능대수          1017 non-null   float64
 52  환승거리               1017 non-null   float64
 53  환승역개수              1017 non-null   float64
 54  엘레베이터              1017 non-null   int64
 55  에스컬레이터             1017 non-null   int64
 56  휠체어경사로             1017 non-null   int64
 57  휠체어리프트             1017 non-null   int64
 58  장애인편의시설            1017 non-null   int64
 59  만남의장소              1017 non-null   int64
 60  현장사무소              1017 non-null   int64
 61  민원안내               1017 non-null   int64
 62  환승주차장              1017 non-null   int64
 63  자치구명               1017 non-null   object
dtypes: float64(47), int64(12), object(5)
memory usage: 516.4+ KB

In [850]:
# 데이터타입 변환(float -> int)
col = all.select_dtypes('float64').columns
all[col] = all[col].astype('int64')
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017 entries, 0 to 1016
Data columns (total 64 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            1017 non-null   int64
 1   역명                 1017 non-null   object
 2   호선                 1017 non-null   object
 3   상권_변화_지표           1017 non-null   object
 4   상권_변화_지표_명         1017 non-null   object
 5   서울_운영_영업_개월_평균     1017 non-null   int64
 6   서울_폐업_영업_개월_평균     1017 non-null   int64
 7   월_평균_소득_금액         1017 non-null   int64
 8   지출_총금액             1017 non-null   int64
 9   식료품_지출_총금액         1017 non-null   int64
 10  의류_신발_지출_총금액       1017 non-null   int64
 11  생활용품_지출_총금액        1017 non-null   int64
 12  의료비_지출_총금액         1017 non-null   int64
 13  교통_지출_총금액          1017 non-null   int64
 14  여가_지출_총금액          1017 non-null   int64
 15  문화_지출_총금액          1017 non-null   int64
 16  교육_지출_총금액          1017 non-null   int64
 17  유흥_지출_총금액          1017 non-null   int64
 18  집객시설_수             1017 non-null   int64
 19  총_직장_인구_수          1017 non-null   int64
 20  남성_직장_인구_수         1017 non-null   int64
 21  여성_직장_인구_수         1017 non-null   int64
 22  연령대_10_직장_인구_수     1017 non-null   int64
 23  연령대_20_직장_인구_수     1017 non-null   int64
 24  연령대_30_직장_인구_수     1017 non-null   int64
 25  연령대_40_직장_인구_수     1017 non-null   int64
 26  연령대_50_직장_인구_수     1017 non-null   int64
 27  연령대_60_이상_직장_인구_수  1017 non-null   int64
 28  단독주택_가격            1017 non-null   int64
 29  아파트_가격             1017 non-null   int64
 30  연립주택_가격            1017 non-null   int64
 31  오피스텔_가격            1017 non-null   int64
 32  단독주택_면적            1017 non-null   int64
 33  아파트_면적             1017 non-null   int64
 34  연립주택_면적            1017 non-null   int64
 35  오피스텔_면적            1017 non-null   int64
 36  총전입                1017 non-null   int64
 37  총전출                1017 non-null   int64
 38  구내이동전입             1017 non-null   int64
 39  구내이동전출             1017 non-null   int64
 40  구간이동전입             1017 non-null   int64
 41  구간이동전출             1017 non-null   int64
 42  시도간이동전입            1017 non-null   int64
 43  시도간이동전출            1017 non-null   int64
 44  거주_세대_수            1017 non-null   int64
 45  거주인구_총계            1017 non-null   int64
 46  거주인구_남자            1017 non-null   int64
 47  거주인구_여자            1017 non-null   int64
 48  세대당인구              1017 non-null   int64
 49  고령자_65세이상          1017 non-null   int64
 50  지하철이용객수            1017 non-null   int64
 51  자전거보관가능대수          1017 non-null   int64
 52  환승거리               1017 non-null   int64
 53  환승역개수              1017 non-null   int64
 54  엘레베이터              1017 non-null   int64
 55  에스컬레이터             1017 non-null   int64
 56  휠체어경사로             1017 non-null   int64
 57  휠체어리프트             1017 non-null   int64
 58  장애인편의시설            1017 non-null   int64
 59  만남의장소              1017 non-null   int64
 60  현장사무소              1017 non-null   int64
 61  민원안내               1017 non-null   int64
 62  환승주차장              1017 non-null   int64
 63  자치구명               1017 non-null   object
dtypes: int64(59), object(5)
memory usage: 516.4+ KB

#### 수직 병합

In [851]:
# 2016, 2017, 2019 연도만 선택하여 데이터프레임 새로 생성
final_2016 = all[all['기준_년_코드'] == 2016]
final_2017 = all[all['기준_년_코드'] == 2017]
final_2019 = all[all['기준_년_코드'] == 2019]

In [852]:
all.to_csv('final.csv', index=False, encoding='utf-8-sig')

In [853]:
final_2016.to_csv('final_2016.csv', index=False, encoding='utf-8-sig')
final_2017.to_csv('final_2017.csv', index=False, encoding='utf-8-sig')
final_2019.to_csv('final_2019.csv', index=False, encoding='utf-8-sig')

#### 수평 병합 - 2016, 2017, 2019 모두 포함하는 행만 가져가기

In [854]:
# '역명' 오름차순
final_2016 = final_2016.sort_values(by='역명')
final_2017 = final_2017.sort_values(by='역명')
final_2019 = final_2019.sort_values(by='역명')

final_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 339 entries, 0 to 338
Data columns (total 64 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준_년_코드            339 non-null    int64
 1   역명                 339 non-null    object
 2   호선                 339 non-null    object
 3   상권_변화_지표           339 non-null    object
 4   상권_변화_지표_명         339 non-null    object
 5   서울_운영_영업_개월_평균     339 non-null    int64
 6   서울_폐업_영업_개월_평균     339 non-null    int64
 7   월_평균_소득_금액         339 non-null    int64
 8   지출_총금액             339 non-null    int64
 9   식료품_지출_총금액         339 non-null    int64
 10  의류_신발_지출_총금액       339 non-null    int64
 11  생활용품_지출_총금액        339 non-null    int64
 12  의료비_지출_총금액         339 non-null    int64
 13  교통_지출_총금액          339 non-null    int64
 14  여가_지출_총금액          339 non-null    int64
 15  문화_지출_총금액          339 non-null    int64
 16  교육_지출_총금액          339 non-null    int64
 17  유흥_지출_총금액          339 non-null    int64
 18  집객시설_수             339 non-null    int64
 19  총_직장_인구_수          339 non-null    int64
 20  남성_직장_인구_수         339 non-null    int64
 21  여성_직장_인구_수         339 non-null    int64
 22  연령대_10_직장_인구_수     339 non-null    int64
 23  연령대_20_직장_인구_수     339 non-null    int64
 24  연령대_30_직장_인구_수     339 non-null    int64
 25  연령대_40_직장_인구_수     339 non-null    int64
 26  연령대_50_직장_인구_수     339 non-null    int64
 27  연령대_60_이상_직장_인구_수  339 non-null    int64
 28  단독주택_가격            339 non-null    int64
 29  아파트_가격             339 non-null    int64
 30  연립주택_가격            339 non-null    int64
 31  오피스텔_가격            339 non-null    int64
 32  단독주택_면적            339 non-null    int64
 33  아파트_면적             339 non-null    int64
 34  연립주택_면적            339 non-null    int64
 35  오피스텔_면적            339 non-null    int64
 36  총전입                339 non-null    int64
 37  총전출                339 non-null    int64
 38  구내이동전입             339 non-null    int64
 39  구내이동전출             339 non-null    int64
 40  구간이동전입             339 non-null    int64
 41  구간이동전출             339 non-null    int64
 42  시도간이동전입            339 non-null    int64
 43  시도간이동전출            339 non-null    int64
 44  거주_세대_수            339 non-null    int64
 45  거주인구_총계            339 non-null    int64
 46  거주인구_남자            339 non-null    int64
 47  거주인구_여자            339 non-null    int64
 48  세대당인구              339 non-null    int64
 49  고령자_65세이상          339 non-null    int64
 50  지하철이용객수            339 non-null    int64
 51  자전거보관가능대수          339 non-null    int64
 52  환승거리               339 non-null    int64
 53  환승역개수              339 non-null    int64
 54  엘레베이터              339 non-null    int64
 55  에스컬레이터             339 non-null    int64
 56  휠체어경사로             339 non-null    int64
 57  휠체어리프트             339 non-null    int64
 58  장애인편의시설            339 non-null    int64
 59  만남의장소              339 non-null    int64
 60  현장사무소              339 non-null    int64
 61  민원안내               339 non-null    int64
 62  환승주차장              339 non-null    int64
 63  자치구명               339 non-null    object
dtypes: int64(59), object(5)
memory usage: 172.1+ KB

In [857]:
final = final_2016.merge(final_2017, how='inner', on=['역명','자치구명','호선']).merge(final_2019, how='inner', on=['역명','자치구명','호선'])
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 335 entries, 0 to 334
Columns: 186 entries, 기준_년_코드_x to 환승주차장
dtypes: int64(177), object(9)
memory usage: 489.4+ KB

In [859]:
final.to_csv('final2.csv', index=False, encoding='utf-8-sig')

In [858]:
final

,기준_년_코드_x,역명,호선,상권_변화_지표_x,상권_변화_지표_명_x,서울_운영_영업_개월_평균_x,서울_폐업_영업_개월_평균_x,월_평균_소득_금액_x,지출_총금액_x,식료품_지출_총금액_x,...,환승역개수,엘레베이터,에스컬레이터,휠체어경사로,휠체어리프트,장애인편의시설,만남의장소,현장사무소,민원안내,환승주차장
0,2016,4.19민주묘지역,우이신설,HL,상권축소,96,49,3646983,7844647737,2047646563,...,1,3,6,2,2,0,0,0,0,0
1,2016,가락시장역,3,LL,다이나믹,96,49,4717435,8796642918,2121086628,...,1,3,22,1,2,0,0,0,0,0
2,2016,가락시장역,8,LL,다이나믹,96,49,4717435,8796642918,2121086628,...,1,6,12,1,2,1,0,0,0,0
3,2016,가산디지털단지역,7,LL,다이나믹,96,49,3034082,7700911350,2020551001,...,0,4,12,2,4,1,0,0,0,0
4,2016,가양역,9,LH,상권확장,96,49,4446808,10641450113,2623947817,...,1,3,6,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2016,회기역,1,HH,정체,96,49,2959120,3813496701,1045803023,...,1,3,6,2,2,0,0,0,0,0
331,2016,회현역,4,HH,정체,96,49,5078600,4495844957,1125014425,...,0,2,6,1,2,1,0,0,0,0
332,2016,효창공원앞역,경의중앙,HH,정체,96,49,4014796,7600045968,1899885949,...,0,2,6,2,1,1,0,0,0,0
333,2016,효창공원앞역,6,HH,정체,96,49,4014796,7600045968,1899885949,...,0,3,6,4,2,0,0,0,0,0
334,2016,흑석역,9,HH,정체,96,49,4537091,6710243497,1741063323,...,0,3,6,2,2,0,0,0,0,0